 h3 {
    background-color: antiquewhite !important;
 }
 
 /* Basic Formate of CSS Also known as Element selector*/
 h3 {
    color: #F52936;
}

h1 {
    color: #F52936;
}

 /* Univarsal selector */
* {
    font-family: 'Courier New';
}

 /* ID selector */
#login {
    background-color: white;
}

#signup {
    background-color: #F52936;
    color: white;
}

 /* CLASS selector */
.upvote {
    background-color: green ;
    color: aliceblue;
}

  /* descendant selector */
.post a {
    color: purple;
    background-color: yellow;
}


nav ul li a {
    color: hotpink;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cadetblue;
    color: white;
}

div > input {
    background-color: bisque;
}

input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}
input[type] {
    background-color: blanchedalmond;
}

#myid  p {
    color: green;
}

button:hover {
    background-color: black;
    color: white;
}

  /* Pseudo class */
button:active {
    background-color: red;
    color: black;
}

p:active {
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n) {
    background-color: blanchedalmond;
}

h1::first-letter {
    color: green;
}

p::first-line {
    color:deeppink;
}

p::selection {
    background-color: rgb(255, 240, 80);
}

h3 {
    background-color: yellow;
}

h3 {
    background-color: blueviolet;
}