h1 {
    text-align: center;
    text-decoration: red wavy underline;
    font-family: 'Times New Roman', Times, serif;
    
}

h2 {
    text-align: start;
    text-decoration: yellow line-through;
}

p {
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    font-family: papyrus;
    
}

h3 {
    font-weight: 900;
    text-decoration: double blue  overline;
}

a {
    text-decoration: none;
}