.card {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

img {
  width: 100px;
  border-radius: 25px;
}

h2 {
  color: orangered;
}

span {
  color: orangered;
}

h4{
  color: rgb(196, 66, 170);
  text-align: right;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 412px) {
  #pets {
    flex-wrap: wrap;
  }
}
